body {
    background: url("../img/back.jpeg") no-repeat center center fixed; 
    background-size: cover; /*Масштабирует изображение как можно больше c сохранением пропорций изображения*/
    margin: 0; /*Убрать стандартные внешние отступы*/
    padding: 0; /*Убрать стандартные внутренние отступы*/
}
/*header*/
#headerId {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #00000084;
    z-index: 1;
}
#headerId:hover {
    height: 52px;
}
#logoId {
    display: inline; /*Делаем из блочного тега строчный*/
}
#logoId > img {
    height: 50px;
    width: 50px;
    float: left; /*Обтекание элемента и прижатие к левому краю*/
}
#headerMenuId {
    float: left; /*Обтекание элемента и прижатие к левому краю*/
}
#ulMenuId {
    list-style-type: none; /*отключить маркеры*/
}
#ulMenuId > li {
    display: inline; /*Превратить в строчный элемент*/
}
.search {
    display: inline; /*Делаем из блочного тега строчный*/
}
.search > img {
    height: 40px;
    width: 40px;
    float: right; /*Обтекание элемента и прижатие к левому краю*/
    margin: 5px; /*отступ по right left top bottom*/
}
/*Псевдоклассы menu li > a*/
#ulMenuId > li > a:hover {
    color: aqua;
}
#ulMenuId > li > a {
    text-decoration: none; /*отключить у тега a нижнее подчеркивание*/
    text-transform: lowercase; /*все строки в маленьком регистре*/
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px; /*левый отступ от логотипа*/
}
/*box menu*/
#boxMenuId {
    float: left;
    width: 250px;
    margin: 10px;
    margin-left: 25px; /*левый отступ*/
    margin-top: 5em; /*Размер шрифта родительского элемента*/
}
.rounded {
    counter-reset: li 10; /*задать счетчик*/
    list-style: none; /*Очистить маркеры и стили*/
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); /*тень для текста*/
    }
    .rounded a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
    }
    .rounded a:hover {background: #E9E4E0;} /*Подсветка при наведении на ссылки*/
    .rounded a:hover:before {transform: rotate(360deg);} /*до ссылки перевернуть на 360deg*/
    .rounded a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FD4C1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out; /*Применить ко всем изменённым свойствам */
}
/*articles*/
#articleLeftId {
    width: 50%;
    float: right;
}
#articleRightId {
    width: 50%;
    float: left;
}
.articleBlock {
    margin: 1%;
    padding: 1%;
    text-align: center;
    background-color: #DAD2CA;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'League Gothic', sans-serif;
}
/*Footer*/
#footerId {
    width: 100%;
    background-color: #00000084;
   float: left;
}
#copyTextId {
    width: 250px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin: auto; 
    padding: 50px;
}
/*Псевдоэелементы Footer*/
#copyTextId::before {
    content: "«";
}
#copyTextId::after {
    content: "»";
}